[submodule "vim/bundle/ctrlp.vim"]
	path = dotfiles/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git

[submodule "vim/bundle/vim-gocode"]
	path = dotfiles/vim/bundle/vim-gocode
	url = https://github.com/Blackrush/vim-gocode.git

[submodule "vim/snippets"]
	path = dotfiles/vim/snippets
	url = https://github.com/scrooloose/snipmate-snippets.git

[submodule "vim/Vundle.vim"]
	path = dotfiles/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git